.over_content{
    text-align: center;
    background-image: url('Casper.jpeg');
    background-position:center;
    background-attachment: scroll;
    background-size: 600px;
}
 .button{
     padding-top: 30px;
 }     
 .smalltext{
     padding-top: 10px;
     color: #191970;
 }
 .footer_end{
     text-align: center;
     word-spacing: 200px;
     color: #191970;
     padding-top: 5px;
 }
 .tail{
     display: grid;
     grid-template-columns: 1fr 0.7fr 1fr;
     font-size: small;
     text-align: center;
     align-items: center;
     padding-bottom: 10px;
     color: #191970;
 }


.header_title{
    text-align: center;
    margin-top: 6%;
    color: #191970;
}
image_casper>img{
    width: 1340px;
    height: 500px;
    margin: auto;
}
